body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  background-color: hsl(0, 0%, 98%);
}

*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

img{
  padding: 0;
  margin: 0;
  max-width: 100%;
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

header > img{
 padding-right: 80px;
}

.menu-container{
  display: flex;
  color: hsl(0, 0%, 41%);
  flex: 1;
}

.nav-open{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.nav-open li{
  cursor: pointer;
  transition: .3s;
}

.nav-open a:hover{
  color: hsl(0, 0%, 8%);
}


.nav-open.active{
  color: hsl(0, 0%, 8%);
}

.nav-features, .nav-company{
  position: relative;
}

.nav-features > a > img, .nav-company > a > img{
  display: none;
}

.nav-features > a > img.active, .nav-company > a > img.active {
  display: inline-block;
}

.nav-company-open, .nav-features-open{
  display: block;
  position: absolute;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: #ccc 0px 0px 20px ;
  min-width: 120px;
  z-index: 999;
}

.nav-features-open, .nav-company-open{
  left: -25px;
  width: max-content;
  visibility: hidden;
  overflow: hidden;
  padding: 0px;
  height: 0;
  transition: .5s ease-in-out;
}

.nav-company-open{
  left: 0;
}

.nav-company-open.active{
  height: 140px;
  visibility: visible;
  padding: 20px;
}

.nav-features-open.active{
  left: -80px;
  visibility: visible;
  height: 160px;
  padding: 20px;
}

.nav-features-open img{
  margin-right: 10px;
}


.nav-company-open li, .nav-features-open li{
  padding: 10px;
}

.menu-container .btn-hamburguer{
  display: none;
}

.mobile-login{
  display: none;
}

.login > button{
  background-color: transparent;
  border: none;
  padding: 17px 40px;
  margin: 0;
  font-size: 18px;
  cursor: pointer;
  color: hsl(0, 0%, 41%);
  font-family: 'Epilogue', sans-serif;
}

.login > button:hover{
  border-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
}

.login .btn-register{
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 20px;
  margin-left: 10px;
}

/* main content */


.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.call-to-action{
  padding: 120px 0px 40px 120px;
}

.h1-title{
  font-size: 86px;  
  margin: 0;
}
.paragraph{
  font-size: 18px;
  color: hsl(0, 0%, 41%);
  width: 460px;
  line-height: 1.7rem;
  margin: 40px 0px;
}

.btn-bgDark{
  background-color: hsl(0, 0%, 8%);
  border: none;
  padding: 20px 40px;
  margin: 0;
  font-size: 18px;
  cursor: pointer;
  color: hsl(0, 0%, 98%);
  font-family: 'Epilogue', sans-serif;
  border-radius: 20px;
  transition: .3s ease;
  border: 2px solid hsl(0, 0%, 8%);
  font-weight: 700;
}

.btn-bgDark:hover{
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
}

.clients{
  display: flex;
  margin-top: 80px;
  height: 90px;
  align-items: center;
  gap: 40px;
}

.clients img{
  height:28px;
}

.main-container .desktop{
  max-width: 70%;
  justify-self: center;
  display: block;
}

.main-container > .mobile{
  display: none;
}

@media (max-width: 1024px) {
  .main-container{
    grid-template-columns: 1fr;
    grid-template-areas: 
      "img"
      "main";
  }

  .main-container > .mobile{
    display: block;
    justify-self: center;
  }

  .main-container > .desktop{
    display: none;
  }

  .call-to-action{
    grid-area: main;
    padding: 40px 0;
    text-align: center;
  }
  .paragraph{
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
  }

  .clients{
    height: 70px;
    margin: 20px 0;
    justify-content: space-evenly;
    gap: 10px;
  }

  .clients img{
    height: 18px;
  }

  body{
    overflow-x: hidden;
  }

  .menu-container{
    visibility: none;
    position: absolute;
    top: 3.3vh;
    right: 0;
    width: 0vw;
    height: 112vh;
    background-color: hsl(0, 0%, 98%);
    flex-direction: column;
    align-items: start;
    gap: 40px;
    transition: .5s
  }

  .menu-container.active{
    padding-left: 20px;
    width: 50vw;
  }

  .menu-container .nav-open{
    flex-direction: column;
  }

  .nav-features-open, .nav-company-open{
    background: transparent;
    box-shadow: none;
    left: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    position: inherit;
  }

  .nav-features-open.active, .nav-company-open.active{
    display: block;
    visibility: visible;
    height: 140px;
    position: inherit;
    background: transparent;
    box-shadow: none;
    margin: 0;
    left: 0;

  }
  
  .menu-container .btn-hamburguer{
    display: block;
    cursor: pointer;
    width: 48px;
    align-self: flex-end;
  }

  .menu-container .btn-hamburguer div{
    width: 32px;
    height: 2px;
    background-color: hsl(0, 0%, 8%);
    margin: 8px;
  }

  .login{
    display: none;
  }


}

@media (max-width: 700px) {
  
  header{
    justify-content: space-between;
  }

  .h1-title{
    font-size: 36px;
  }
}